// UTILITIES
.text-end{
    text-align: end;
}
.text-center{
    text-align: center;
}
.d-flex{
    display: flex;
}
.aligne-items-center{
    align-items: center;
}
.px-4{
    margin: 0 30px;
}
.list-style-none{
    list-style: none;
}
.justify-content-center{
    justify-content: center;
}
.flex-wrap{
    flex-wrap: wrap;
}